/* :root { */

    /* colores */

    /* --color-fondo: rgba(217, 217, 217, 0.4);
    --color-texto: #414043;
    --color-secundario: #C1C3C4;
    --color-boton-activo: #007735;
    --color-boton-inactivo: #757575;
    --color-fondo-botones: #FBFBFB;
    --color-titulos: #414043;
    --color-card: #F1F1F1;
    --color-tabla-cabecera: #414043;
    --color-tabla-celda: #FFFFFF;
    --color-blanco: #FFFFFF;
    --color-fondo-b: #007735; */
    
    /* tamaño */

    /* --fuente-principal: 'worksans';
    --tamaño-titulo: 5.2vh;
    --tamaño-texto: 2.6vh;
    --tamaño-titulo-tabla: 4.1vh;
    --tamaño-celda-tabla: 2vh;
    --tamaño-botones: 16px;

    --radio-borde: 20px;
    --radio-borde-botones: 10px;

    --blur-fondo: 10px;
    --ancho-contenedor-mult: 15.4vw;
    --tamaño-notificacion: 3.9vh;

    --alto-contenedor-fila: 6.3vh;
    --margen-contenedor-fila: 4.3vh auto 7vh auto;
    --padding-botones: 0.5vh 1.5vh;
} */